.bg-larapp {
    background-color: #768fff;
}

.btn-larapp {
    background-color: #1e5f74;
    color: rgba(255,255,255,.8);
    &:hover {
        color: rgba(255,255,255,1);
    }
}

.btn-link {
    color: #1e5f74;
    &:hover {
        color: #1e5f74;
    }
}

.navbar-brand {
    font-size: 0.8rem;
}

.card-header {
    background-color: #133b5c;
    color: #fff;
    padding: 1rem 0rem 0.5rem 0rem;
}

.img-top-card {
    margin: 0px auto;
}

// Pagination
ul.pagination{
    //border: 2px solid red;
    justify-content: center;

    .page-item.active .page-link{
        background-color: #1e5f74;
        border-color: #133b5c;
        color: rgba(255,255,255,.8);
    }

    .page-item .page-link{
        color: #1e5f74;
        font-weight: bold;
    }
}

$color: #000;
$color-bg: #c0c0c0;

/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- https://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

input {
    background-image: none;
    border: none;
    font: inherit;
    margin: 0;
    padding: 0;
    transition: all .3s;
}

/* ---------- GRID ---------- */

.grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    width: 400px;
}

/* ---------- LOGIN ---------- */

#login h2 {
    background: #768fff;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
    margin-right: 14px;
}

#login fieldset {
    background: #fff;
    border-radius: 0 0 20px 20px;
    padding: 20px 26px;
}

#login fieldset p {
    color: #777;
    margin-bottom: 14px;
}

#login fieldset p:last-child {
    margin-bottom: 0;
}

#login fieldset input {
    border-radius: 3px;
}

#login fieldset input[type="email"], #login fieldset input[type="password"] {
    background: #eee;
    color: #777;
    padding: 4px 10px;
    width: 100%;
}

#login fieldset input[type="submit"] {
    background: #33cc77;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 4px 0;
    width: 100px;
}

#login fieldset input[type="submit"]:hover {
    background: #28ad63;
}

.form-search {
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.slider {
    background-color: #768fff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
    position: relative;
    transition: all 0.5s ease-in;
    &:hover {
        background-size: 110%;
        p {
            bottom: -20px;
        }
    }
    p {
        color: rgba(255, 255, 255, .8);
        position: absolute;
        background-color: rgba(0, 0, 0, .8);
        min-height: 140px;
        width: 100%;
        padding: 10px;
        bottom: -180px;
        transition: all 0.5s ease-out;
        text-align: justify;
    }
}
